:root {
  --nav-bar-height: 80px;
  --background-color: #1c1c25;
  --color-custom-blue: #1d89ff;
  --color-custom-purple: #c533c8;
  --text-gradient: linear-gradient(to right, var(--color-custom-blue), #c533c8);
  --gap: 30px;
  --padding: 30px;
  --layout-width: 75%;
  --layout-max-width: 1200px;
}

@font-face {
  font-family: 'Poppins';
  src: url('../public/fonts/Poppins/Poppins-Regular.ttf');
}

html {
  scroll-behavior: smooth;
  scroll-padding: var(--nav-bar-height);
}

#container {
  overflow: hidden;
  /* background-color: var(--background-color); */
}
.layout {
  width: var(--layout-width);
  max-width: var(--layout-max-width);
  margin-inline: auto;
}

.highlight {
  color: var(--color-custom-blue);
  background: var(--text-gradient);
  font-weight: bold;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  width: fit-content;
}
.text-block {
  max-width: 60ch;
}

.welcome {
  min-height: calc(100vh - var(--nav-bar-height));
}

.welcome__content {
  font-family: Poppins;
  margin-top: 15vh;
}

.welcome__title {
  font-weight: bold;
  color: var(--color-custom-blue);
  margin: 0;
  width: fit-content;
  visibility: hidden;
  animation: slideIn 1000ms 500ms forwards;
}

.welcome__subtitle {
  font-weight: bold;
  margin: 0;
  visibility: hidden;
  animation: slideIn 1000ms 1100ms forwards;
}

.welcome__description {
  margin: 0;
  padding: var(--padding) 0;
  visibility: hidden;
  animation: slideIn 1000ms 2100ms forwards;
}

.nav-bar {
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  height: var(--nav-bar-height);
  background-color: var(--background-color);
  z-index: 9999;
  animation: slideNavbar 500ms 2000ms forwards;
  translate: 0 -100%; 
}

.nav-menu {
  display: flex;
  column-gap: var(--gap);
}

.socials {
  opacity: 0;
  animation: fadeIn 500ms 2000ms forwards;
}
.socials-list {
  display: flex;
  gap: var(--gap);
}
.socials-item {
  transition: scale 150ms;
}
.socials-item:hover {
  scale: 110%;
}
.socials-item__icon {
  width: 40px;
  height: 40px;
}

.observer {
  visibility: hidden;
}
.observer--active {
  animation: slideDownUp 700ms 300ms forwards;
}
@media screen and (max-width: 769px) {
  :root {
    --layout-width: 85%;
  }
  }
}

@keyframes slideIn {
  from {
    translate: -200%;
    visibility: hidden;
    filter: blur(4px);
  }
  to {
    translate: 0%;
    visibility: visible;    
    filter: blur(0);
  }
}
@keyframes blurIn {
  from {
    filter: blur(4px);
  }
  to {   
    filter: blur(0);
  }
}
@keyframes slideNavbar {
  from {
    translate: 0 -100%;
  }
  to {
    translate: 0 0%;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
    blur: 5px;
  }
  to {
    opacity: 1;
    blur: 0;
  }
}